<h1>MERCURY</h1>

<form action="/trade" method="post">
    <input type="submit" value="Click here to change trading status"/>
</form>

<a href='/'>Analysis</a> 
<a href='/fees'>Fees</a> 
<a href='/balances'>Balances</a> 
<a href='/openorders'>OpenOrders</a>
<a href='https://docs.google.com/spreadsheets/d/1ngZ4leSMSQrlfq5pyScTfdT7ElFyJt6QVQXB2T_bfpg/edit?usp=sharing'>Operations</a> 
<a href='/closedLoop'>Closed-Loops</a> 
<a href='/trade'>Trade</a><p></p>
  